# SPDX-FileCopyrightText: 2025 msdn-delocalizer contributors <https://github.com/ForNeVeR/msdn-delocalizer>
#
# SPDX-License-Identifier: MIT

/.idea/
/.vs/
/node_modules/
/build/
/src/public/LICENSE.md
