# SPDX-FileCopyrightText: 2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    types: [ periodic ]

jobs:
  build:
    strategy:
      matrix:
        image: [ macos-15, ubuntu-24.04, windows-2025 ]
      fail-fast: false
    runs-on: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node and Yarn cache
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn install
      - name: Build for Chrome
        run: |
          yarn run build
      - name: Build for Firefox
        run: |
          yarn run build:firefox
      - name: Run tests
        run: |
          yarn test
      - name: Upload the Chrome distribution
        if: matrix.image == 'ubuntu-24.04'
        uses: actions/upload-artifact@v5
        with:
          name: msdn-delocalizer.chrome
          path: build/chrome-mv3
      - name: Upload the Firefox distribution
        if: matrix.image == 'ubuntu-24.04'
        uses: actions/upload-artifact@v5
        with:
          name: msdn-delocalizer.firefox
          path: build/firefox-mv2

  licenses:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the sources
        uses: actions/checkout@v6
      - name: REUSE license check
        uses: fsfe/reuse-action@v5
